html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-size: 1rem
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  display: block;
  margin: 0;
}

cite {
  font-style: italic;
  display: block;
  font-size: .875rem;
}

p {
  display: block;
  margin: 0;
}

.cards {
  padding: .75rem;
  float: left;
  width: 25%;
  margin: 0;
  text-align: center;
  min-height: 27rem;
}

.Anderon {
  background-color: #e2e2e2;
  border-left: 1px solid #000;
}

.Knights {
  background-color: #ccc;
  border-left: 1px solid #000;
}

.Dragon {
  background-color: #aaa;
  border-left: 1px solid #000;
}

.Ships {
  background-color: #999;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

img {
  width: 100px;
  display: inline;
  margin: 0 auto 1.5rem;
}

.image {
  text-align: center;
  display: inline-block;
}

.content {
  display: inline-block;
  text-align: left;
  margin: 0 auto 2rem;
}

.btn {
  text-align: left;
  display: block;
  margin: 0 0 1.5rem;
}

.btn-small {
  padding: .6rem .75rem;
  color: #fff;
  background-color:#333;
  border-radius: 7px;
  font-size: .875rem;
}

a,a:link {
  text-decoration: none;
}

a:hover {
  background-color: #000;
}
