html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  display: block;
  margin: 0;
}

h3 {
  font-style: italic;
  display: block;
  font-size: .875rem;
  margin: 0;
  font-weight: normal;
}

p {
  display: block;
  margin: 0;
}

.cards {
  padding: .75rem;
  float: left;
  width: 25%;
  margin: 0;
  text-align: center;
  min-height: 27rem;
}

.anderon {
  background-color: #e2e2e2;
  border-left: 1px solid #000;
}

.knights {
  background-color: #ccc;
  border-left: 1px solid #000;
}

.dragon {
  background-color: #aaa;
  border-left: 1px solid #000;
}

.ships {
  background-color: #999;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto 1.5rem;
}

.image {
  text-align: center;
  display: inline-block;
}

.content {
  display: inline-block;
  text-align: left;
  margin: 0 auto 1.5rem;
}

.buttons {
  text-align: left;
}

.btn-small {
  font-size: 0.875rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.4em 0.75em;
  border: 3px solid #333;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
}

a, a:link {
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}
